@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000212;
    --background-default: #101722;
    --background-tertiary: #1a212c;
    --background-secondary: #151c27;
    --background-surface: rgba(255, 255, 255, 0.1);
    --background-surface-secondary: rgba(255, 255, 255, 0.03);

    --border-soft: rgba(255, 255, 255, 0.1);
    --border-light: rgba(255, 255, 255, 0.05);

    --gradient-primary: linear-gradient(180deg, #39b98d 0%, #106648 100%);
    --gradient-card-bg: linear-gradient(180deg, #101722 0%, #050717 100%);
    --gradient-fill-card: linear-gradient(180deg, #101722 100%, #050717 100%);
    --gradient-heading: linear-gradient(180deg, #f6f6f7 40%, #7e808f 100%);
    --gradient-fill-default: linear-gradient(180deg, #1a1c2a 0%, #010313 100%);

    --radial-gradient: radial-gradient(
      100% 100% at 50% -40%,
      rgba(120, 119, 198, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );

    --text-primary: #ffffff;
    --text-secondary: #b9b9b9;
    --text-gradient-default: radial-gradient(
      70% 40% at 50% 0%,
      rgba(255, 255, 255, 0.6) 0%,
      #fff 100%
    );
    --text-radial-gradient: radial-gradient(
      70% 60% at 50% 0%,
      rgba(255, 255, 255, 0.6) 0%,
      #fff 100%
    );

    /* Font sizes ----------------------------> */
    --text-sm: 11px;
    --text-md: 13px;
    --text-lg: 16px;
    --text-xl: 18px;
    --text-2xl: 24px;
    --text-3xl: 26px;
    --text-5xl: 32px;
    --text-6xl: 64px;

    /* Navbar height 
     ---------------------------> */
    --navbar-height: 70px;
  }

  @screen sm {
    :root {
      --text-md: 14px;
      --text-sm: 11px;
      --text-2xl: 26px;
      --text-5xl: 54px;
    }
  }

  @screen lg {
    :root {
      --text-sm: 12px;
      --text-md: 16px;
      --text-lg: 18px;
      --text-xl: 24px;
      --text-2xl: 32px;
      --text-3xl: 48px;
      --text-5xl: 64px;
      --text-6xl: 72px;

      --navbar-height: 85px;
    }
  }

  @screen 2xl {
    :root {
      --text-md: 18px;
      --text-lg: 20px;
    }
  }
}

@layer utilities {
  .container {
    @apply w-[90%] sm:w-[95%] xl:w-[85%] mx-auto;
  }
}

@layer components {
  p {
    @apply tracking-wide;
  }
}
