@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: #39b98d;
    --brand-transparent: rgba(57, 185, 141, 0.2);
    --brand-light: rgba(57, 185, 141, 0.05);

    --background: #000212;
    --background-default: #101722;
    --background-tertiary: #1a212c;
    --background-secondary: #151c27;
    --background-surface: rgba(255, 255, 255, 0.1);
    --background-surface-secondary: rgba(255, 255, 255, 0.03);

    --border-soft: rgba(255, 255, 255, 0.1);
    --border-light: rgba(255, 255, 255, 0.05);

    --gradient-primary: linear-gradient(180deg, #39b98d 0%, #106648 100%);
    --gradient-card-bg: linear-gradient(180deg, #101722 0%, #050717 100%);
    --gradient-fill-card: linear-gradient(180deg, #101722 100%, #050717 100%);
    --gradient-heading: linear-gradient(180deg, #f6f6f7 40%, #7e808f 100%);
    --gradient-fill-default: linear-gradient(180deg, #1a1c2a 0%, #010313 100%);

    --radial-gradient: radial-gradient(
      100% 100% at 50% -40%,
      rgba(120, 119, 198, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );

    --text-primary: #ffffff;
    --text-secondary: #b9b9b9;
    --text-gradient-default: radial-gradient(
      70% 40% at 50% 0%,
      rgba(255, 255, 255, 0.5) 0%,
      #fff 100%
    );
    --text-radial-gradient: radial-gradient(
      70% 40% at 50% 0%,
      rgba(255, 255, 255, 0.6) 0%,
      #fff 100%
    );

    /* Font sizes ----------------------------> */
    --text-sm: 11px;
    --text-md: 13px;
    --text-lg: 16px;
    --text-xl: 18px;
    --text-2xl: 24px;
    --text-3xl: 26px;
    --text-5xl: 32px;
    --text-6xl: 64px;

    /* Navbar variables 
     ---------------------------> */
    --navbar-height: 65px;
    --navbar-background: rgb(41, 48, 59);

    --card-top-padding: calc(var(--navbar-height) + 20px);
  }

  @screen sm {
    :root {
      --text-md: 14px;
      --text-sm: 11px;
      --text-2xl: 26px;
      --text-5xl: 54px;
    }
  }

  @screen lg {
    :root {
      --text-sm: 0.9rem;
      --text-base: 1rem;
      --text-md: 1.125rem;
      --text-lg: 1.25rem;
      --text-xl: 1.5rem;
      --text-2xl: 2rem;
      --text-3xl: 3rem;
      --text-5xl: 4.4rem;
      --text-6xl: 4.5rem;

      --navbar-height: 85px;
      --navbar-height-scrolled: 65px;
    }
  }

  @screen 2xl {
    :root {
      --text-lg: 1.5rem;
      --text-xl: 1.75rem;
      --text-6xl: 4.8rem;
      --text-3xl: 3.35rem;

      --navbar-height-scrolled: 70px;
    }
  }

  @screen tall {
    :root {
      --text-5xl: 4.8rem;
      --text-md: 1.32rem;
      --text-lg: 1.35rem;
    }
  }

  body {
    background-color: var(--background);
    color: var(--text-primary);
    overflow-x: hidden;
  }
}

@layer utilities {
  .container {
    @apply w-[90%] sm:w-[95%] xl:max-w-[1300px] mx-auto;
  }

  .hero-content {
    @apply h-[45vh] min-h-[360px] tall:h-[56vh] tall:min-h-[500px] 2xl:min-h-[420px] 2xl:h-[50vh] 3xl:min-h-[500px] 3xl:h-[55vh];
  }

  .prose p,
  .prose :where(ul > li),
  .prose :where(ol > li) {
    @apply text-textSecondary;
  }
}

@layer components {
  p {
    @apply tracking-wide;
  }
}
