@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid red; */
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  overflow-x: hidden !important;
}

@layer base {
  :root {
    --brand: #39b98d;
    --brand-transparent: rgba(57, 185, 141, 0.2);
    --brand-light: rgba(57, 185, 141, 0.05);

    --background: #000212;
    --background-default: #101722;
    --background-tertiary: #1a212c;
    --background-secondary: #151c27;
    --background-surface: rgba(255, 255, 255, 0.1);
    --background-surface-secondary: rgba(255, 255, 255, 0.03);

    --border-soft: rgba(255, 255, 255, 0.1);
    --border-light: rgba(255, 255, 255, 0.05);

    --gradient-primary: linear-gradient(180deg, #39b98d 0%, #106648 100%);
    --gradient-card-bg: linear-gradient(180deg, #101722 0%, #050717 100%);
    --gradient-fill-card: linear-gradient(180deg, #101722 100%, #050717 100%);
    --gradient-heading: linear-gradient(180deg, #f6f6f7 40%, #7e808f 100%);
    --gradient-fill-default: linear-gradient(180deg, #1a1c2a 0%, #010313 100%);

    --radial-gradient: radial-gradient(
      100% 100% at 50% -40%,
      rgba(120, 119, 198, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );

    --text-primary: #ffffff;
    --text-secondary: #b9b9b9;
    --text-gradient-default: radial-gradient(
      70% 40% at 50% 0%,
      rgba(255, 255, 255, 0.5) 0%,
      #fff 100%
    );
    --text-radial-gradient: radial-gradient(
      70% 40% at 50% 0%,
      rgba(255, 255, 255, 0.6) 0%,
      #fff 100%
    );

    --navbar-height: 75px;
    --navbar-height-scrolled: 65px;

    --text-sm: 12px;
    --text-md: clamp(15px, calc(8px + 0.5vw), 17px);
    --text-base: clamp(15px, calc(8px + 0.5vw), 17px);
    --text-lg: clamp(18px, calc(10px + 0.5vw), 19px);
    --text-xl: clamp(20px, calc(16px + 0.5vw), 21px);
    --text-2xl: clamp(24px, calc(24px + 0.8vw), 32px);
    --text-3xl: clamp(36px, calc(32px + 0.7vw), 48px);
    --text-4xl: clamp(40px, calc(40px + 0.5vw), 56px);
    --text-5xl: clamp(48px, calc(48px + 0.5vw), 64px);
  }
}

@media (max-width: 840px) {
  :root {
    --text-base: 15px;
    --text-md: 15px;
    --text-lg: 17px;
    --text-xl: 19px;
    --text-2xl: 28px;
    --text-3xl: 34px;
    --text-5xl: 46px;
  }
}

@media (max-width: 480px) {
  :root {
    --text-base: 14px;
    --text-md: 14px;
    --text-lg: 15px;
    --text-2xl: 27px;
    --text-3xl: 30px;
    --text-4xl: 38px;
    --text-5xl: 42px;
  }
}

@media (max-height: 800px) {
  :root {
    /* --text-base: clamp(12px, calc(8px + 0.5vw), 17px); */
  }
}

@layer utilities {
  .container {
    @apply w-[90%] sm:w-[95%] xl:max-w-[1100px] 2xl:max-w-[1200px] mx-auto;
  }

  .hero-content {
    @apply h-[50vh] min-h-[400px]  tall:min-h-[500px] 2xl:min-h-[420px] 2xl:h-[40vh] 3xl:min-h-[500px] 3xl:h-[55vh];
  }

  .prose p,
  .prose :where(ul > li),
  .prose :where(ol > li) {
    @apply text-textSecondary;
  }
}

@layer components {
  p {
    @apply tracking-wide;
  }

  h1,
  h2,
  h3 {
    @apply tracking-wide;
  }
}
